.confirmation-component-container {
    display: flex;
    justify-content: center;
    height: 385px;
    align-items: center;
    text-align: center;
}

.confirmation-component-wrapper {
    width: 40%;
    .confirmation-submit-button{
        width: 255px;
    }
    h2 {
        font-size: 18px;
        font-weight: 400;
    }
    p {
        font-size: 14px;
    }
 
}

#completion-company-logo {
    width: 65px;
    height: 35px;
}