// .div{
//     width: 50px;
//     height: 50px;
//     background-color: red;
// }

.google-maps-location-icon {
    color: white;
    background-color: rgba(75, 154, 173, 0.9);
    border: 4px solid rgba(171, 202, 209, 1);
    border-radius: 50%;
    padding: 4px;
    animation: bounce .7s infinite alternate;
    -webkit-animation: bounce .7s infinite alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, .3, .5);

    @keyframes bounce {
        from {
            ransform: translate3d(0, 0, 0); 
        }
        to {
            transform: translate3d(0, 15px, 0); 
        }
    } 
}
// .MuiSvgIcon-root {
//     color: orange;
// }

