.pdf-logo-wrapper {
    max-width: 150px;
    max-height: 150px;
    margin: 15px auto 30px;
    .MuiCardMedia-img{
        margin: auto;
        width: 40%;
        height: 40%;   
    }
}

// .MuiPaper-root.MuiPaper-elevation {
//     margin: 10px;
// }


.MuiTypography-h5.MuiCardHeader-title {
    font-size: 16px;
}

.MuiCardHeader-subheader {
    font-size: 15px !important;
}

.MuiCardContent-root.css-46bh2p-MuiCardContent-root {
    padding: 0 16px;
}